<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
<body>
    <h1>Práctica DSI</h1>
    <p>Página con HTML básico</p>
    <p>Esta va a ser nuestra página web</p>

    <br><br>
    <p>Introduce tus datos: </p>

    <form action="" method="get">
    <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" />
    </div>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" />
    </div>
    <div>
        <textarea name="comment">Sugerencias </textarea>
    </div>
         <div class="button">
        <button type="submit">Enviar</button>
    </div>
    </form>

</body>
</html>
